<form action="/pdf_download/" method="get">
    <input type="text" name="link" id="link" value="Enter link here"/>
    <input type="submit" value="Submit" 
         name="Submit" id="frm1_submit" />
</form>